* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url(./img/yellow_top_wave_01.png);
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 125px;
  width: 100%;
  z-index: 100;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container .navbar {
  width: 75%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .container .navbar .nav-menu ul {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin-bottom: 0;
}
.header .container .navbar .nav-menu ul li {
  list-style: none;
  padding: 0px 25px;
}
.header .container .navbar .nav-menu ul li a {
  text-decoration: none;
}