.header{
    background-image: url(./img/yellow_top_wave_01.png);
    background-position: center;
    background-color: rgba(255,255,255,.3);
    padding-bottom: 125px;
    width: 100%;
    z-index: 100;
.container{
    display: flex;
    justify-content: space-between;
    .logo{
        a{
           
            img{}
        }
    }

    .navbar{
        width: 75%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
        .nav-menu{
            ul{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-bottom: 0;
            
 li{
    list-style: none;
    padding: 0px 25px;
    a{
        text-decoration: none;
    }
 }}
            
            
           
        }

    }

}


}